export CLUSTER=<test-cluster-name>
export REGION=northamerica-northeast1
export PROJECT_ID=<test-project>
export LZ_FOLDER_NAME=<Lz folder name>
export NETWORK=<kcc-testvpc>
export SUBNET=<kcc-testsubnet>
export ORG_ID=<ORG ID>
export ROOT_FOLDER_ID= # This one is only required if not deploying at the org level. Ex. for testing. See option 2 when executing the Config Controller project and cluster below
export BILLING_ID=<Billing ID>
export GIT_USERNAME=<Git-Username> # For Azure Devops, this is the name of the Organization 
export TOKEN=<XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX>
export CONFIG_SYNC_REPO=<Repo for Config Sync> # should default to tier1 config sync 
export CONFIG_SYNC_VERSION=<Version for config sync - like 0.0.0>
export CONFIG_SYNC_DIR=<Directory for config sync repo which syncs> # Should default to deploy