export CLUSTER=<test-cluster-name>
export REGION=northamerica-northeast1
export PROJECT_ID=<test-project>
export LZ_FOLDER_NAME=<Lz folder name>
export NETWORK=<kcc-testvpc>
export SUBNET=<kcc-testsubnet>
export ORG_ID=<ORG ID>
export ROOT_FOLDER_ID= # This one is only required if not deploying at the org level. Ex. for testing. See option 2 when executing the Config Controller project and cluster below
export BILLING_ID=<Billing ID>
export GIT_USERNAME=gc-cpa # For Azure Devops, this is the name of the Organization
export TOKEN=<XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX>
export NET_HOST_PRJ_NONPROD_ID=<test-host-np-prj>
export NET_HOST_PRJ_PROD_ID=<test-host-pr-prj>
export NET_PERIMETER_PRJ_COMMON_ID=<test-common-prj>
export AUDIT_PRJ_ID=<test-audit-prj>
export GUARDRAILS_PROJECT_ID=<test-guardrails-prj>
export AUDIT_VIEWER=<Group for permissopns>
export LOG_WRITER=<Group for permissopns>
export LOG_READER=<Group for permissopns>
export ORGANIZATION_VIEWER=<Group for permissopns>
export GITHUB_REPO=https://gc-cpa@dev.azure.com/gc-cpa/iac-gcp/_git/gcp-tier1-configsync # should default to tier1 config sync as initial sync repo - for EVDC we need a separate repo
export CONFIG_SYNC_VERSION=<Version for config sync - like 0.0.0>